/* ----------------------------------------------
	This will overwrite the style.css
---------------------------------------------- */
.colorN1{
	background-color:#FFFFFF;
}
.colorN2{
	background-color:#DEE3EF;
}
.colorN3{
	background-color:#000000;
}
.sepaA{padding-top: 150px;}
.sepa{
	width: 16px;
	height: 8px;
	background-color:#E38C20;
	border-color:#E38C20;
	border-radius: 4px;
	margin: 16px auto 40px auto; 
}
.registerExpo{
	color:#fff;
	background: #E38C20 0% 0% no-repeat padding-box;
	border-color:#E38C20;
	border-radius: 4px;
	margin: 0px auto !important; 
	font-family: Poppins-SemiBold;
	border-radius: 4px;
	font-size: 15px;
}
.registerExpo2 {
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Poppins-SemiBold;
	font-size: 15px;
	margin: 0px auto !important;
	border-radius: 4px;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 1px solid #DEE3EF; /* Green */
  }
  .registerExpo3{
	padding: 11px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Poppins-SemiBold;
	color:#fff;
	font-size: 15px;
	margin: 0px auto !important; 
	border-radius: 4px;
	cursor: pointer;
	background: #E38C20 0% 0% no-repeat padding-box;
	border: 0px;
}
.registerExpo:hover
{
	background-color: #E38C20;
	border-color:#E38C20;
}
.colorN5{
	background-color:#EBEFF8;
}
.colorN6{
	background-color:#F6EEE3;
}
.colorN7{
	background-color:#002382;
}
.colorN8{
	background-color:#3C4043;
}
.colorN9{
	background-color:#FFF8F0;
	padding: 100px 0px;
}
.colorN10{
	background-color:#D8D8D8;
}
.colorN11{
	background-color:#EEEEEE;
}
.hexagon {
	position: relative;
	-webkit-clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
	-moz-clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
  	}
	  .taille1{
		top: 139px;
		width: 253px; 
		height: 292px;
		position: relative;
		top: -343px;
	}
	.taille2{
		top: 139px;
		width: 168px;
		height: 194px;
		position: relative;
		top: -630px;
		left: 309px;
	}
	.taille3{
		top: 139px;
		width: 83px;
		height: 95px;
		background-color:#E38C20;
		position: relative;
		top: -1193px;
		left: 175px;
	}
	.taille4{
		top: 139px;
		width: 71px;
		height: 82px;
		background-color:#002382;
		position: relative;
		top: -810px;
		left: 85px;
	}
	.taille5{
		top: 139px;
		width: 384px;
		height: 443px;
		background-color:#F6EEE3;
		position: relative;
		top: 142.5px;
		left: 60.5px;
	}
	.taille6{
		top: 139px;
		width: 253px; 
		height: 292px;
		position: relative;
		top: -603px;
		left: 212px;
	}
	.navP{
		width: 100%;
		height: 60px; 
		position: fixed;
		z-index: 999;
		background-color: #fff; 
	}
	  ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #FFF;
	  }
	  
	  li {
		float: left;
	  }
	  
	  li:last-child {
		border-right: none;
	  }
	  
	  li a {
		display: block;
		color:#000;
		text-align: center;
		font-family: Poppins-SemiBold;
		font-size: 15px;
		padding: 20px 25px;
		text-decoration: none;
		transition: all 0.3s ease;
	  } 
	  .active {
		border-bottom: 2px solid #E38C20;
		padding-bottom: 2px;
	  }
	.cardA{
	  	text-align: left;
		letter-spacing: 0px;
	}
	.padCard{
		padding: 40px 42px;
	}
	.posiBag{
		position: relative;
		top: 130px;
		left: 20px;
		border-color: #E38C20;
	}
	.posiCard{
		position: relative;
		top: 115px;
		z-index: -1;
	}
	.containerB{
		width: 60%;
		min-width: 500px;
		transform: translate(-50%, 0%);
		top: 50%;
		left: 50%;
	}
	.warpperB{
		background-color: #fff;
		width: auto;
		margin: 0 10px;
		padding: 15px 40px;
		/* box-shadow: 0 15px 25px rgba(0, 0, 50, 0.2); */
	}
	.togglerB,.contentB{
		font-family:Montserrat-Medium;	
	}
	.togglerB{
		width: 100%;
		background-color: transparent;
		align-items: center;
		justify-content: space-between;
		font-size: 20px;
		color: #000;
		font-weight: 500;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 15px 0;
		background-color: #fff;
	}
	.contentB{
		position: relative;
		text-align:justify;
		line-height: 30px;
		height: 0;
		overflow: hidden;
		transition: all 1s;
		border-color: #EEEEEE;
		border: 1px solid #EEEEEE;
	}
	.iconA{
		font-size: 20px;
		color: #E38C20;
		display:block;
		text-align: right;
	}
	.iconM{
		font-size: 20px;
		color: #E38C20;
		display:none;
		text-align: right;
	}
	.rowB {
		display: flex;
		width: 100%;
		border: 1px solid #EEEEEE;
	  }
	  .rowB::after {
		content: "";
		clear: both;
		display: table;
	  }
	  
	  /* Create two equal columns that sits next to each other */
	.columnB {
		flex: 80%;
		width: 80%;
	}
	.columnB2 {
		flex: 20%;
		width: 20%;
	}
	.container{
		padding: 0;
	}
	#About{min-height: 660px;
	padding-bottom: 160px;}
	#Speakers{min-height: 680px;padding-top: 70px;}
	#Agenda{min-height: 600px;padding-top: 70px;}
	#Information{min-height: 760px;padding-top: 70px;}
	#JoiningUs{min-height: 380px;padding-top: 70px;}
	/* .sectionB {top: 60px;} */
	.section{
		width: 100%;
		padding: 0 12px;
	}
	@media (min-width: 1200px){
		.container{
			max-width: 100%;
		}
	}
	@media (min-width: 992px){
		.container{
			max-width: 100%;
		}
	}
	@media (min-width: 768px){
		.container{
			max-width: 100%;
		}
	}
	@media (min-width: 576px){
		.container{
			max-width: 100%;
		}
	}
	.textPM50{
		font-family:Poppins-Medium;
		font-size: 50px;
	}
	.textPR24{
		font-family:Poppins-Regular;
		font-size: 24px;
	}
	.textMM15{
		font-family:Montserrat-Medium;
		font-size: 15px;
		color: #3C4043;
	}
	.titleMM20{
		font-family:Montserrat-Medium;
		font-size: 20px;
	}
	.titleMM40{
		font-family:Montserrat-Medium;
		font-size: 40px;
	}
	.titleMM50{
		font-family:Montserrat-Medium;
		font-size: 50px;
	}